apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rbac-oidc
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 2m
  timeout: 5m

  sourceRef:
    kind: GitRepository
    name: flux-system

  path: ./gitops/clusters/homelab/security/rbac-oidc
  prune: true
  wait: true