apiVersion: v1
kind: Secret
metadata:
    name: authentik-values
    namespace: authentik
type: Opaque
stringData:
    values.yaml: |-
        authentik:
          secret_key: "SfveI5KvmTJ9EUI7V1DUtgW1cMlWyDPWjyWA53ut4R/h4pswiTKZWFASxV="
          error_reporting:
            enabled: true

        server:
          replicas: 3
          ingress:
            enabled: false
          env:
            - name: AUTHENTIK_STORAGE__MEDIA__BACKEND
              value: "file"
            - name: AUTHENTIK_STORAGE__MEDIA__ROOT
              value: "/data"
            - name: AUTHENTIK_POSTGRESQL__HOST
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: host
            - name: AUTHENTIK_POSTGRESQL__PORT
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: port
            - name: AUTHENTIK_POSTGRESQL__USER
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: username
            - name: AUTHENTIK_POSTGRESQL__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: password
            - name: AUTHENTIK_POSTGRESQL__NAME
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: database
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: authentik-media
          volumeMounts:
            - name: data
              mountPath: /data

        worker:
          replicas: 3
          env:
            - name: AUTHENTIK_STORAGE__MEDIA__BACKEND
              value: "file"
            - name: AUTHENTIK_STORAGE__MEDIA__ROOT
              value: "/data"
            - name: AUTHENTIK_POSTGRESQL__HOST
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: host
            - name: AUTHENTIK_POSTGRESQL__PORT
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: port
            - name: AUTHENTIK_POSTGRESQL__USER
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: username
            - name: AUTHENTIK_POSTGRESQL__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: password
            - name: AUTHENTIK_POSTGRESQL__NAME
              valueFrom:
                secretKeyRef:
                  name: authentik-db-credentials
                  key: database
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: authentik-media
          volumeMounts:
            - name: data
              mountPath: /data

        postgresql:
          enabled: false

        redis:
          enabled: false
