apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - authentik-values.secret.sops.yaml
  - helmrelease.yaml
  - ingress.yaml
  - pvc-media.yaml
  - authentik-db-credentials-postgres.secret.sops.yaml
  - cnpg-database.yaml
  - authentik-db-credentials-authentik.secret.sops.yaml

patches:
  - path: cnpg-role-patch.yaml
    target:
      group: postgresql.cnpg.io
      version: v1
      kind: Cluster
      name: pg-main
      namespace: postgres