apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - authentik-values.secret.sops.yaml
  - helmrelease.yaml
  - ingress.yaml
  - storageclass-nfs.yaml
  - pvc-backups.yaml
  - authentik-postgres-backup.yaml