apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - authentik-values.secret.sops.yaml
  - authentik-config.secret.sops.yaml
  - helmrelease.yaml
  - ingress.yaml

patches:
  - path: patch-deployments-envfrom.yaml
    target:
      kind: Deployment
      name: authentik-server|authentik-worker
      namespace: authentik