apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: flux-system
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik-crds
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    createNamespace: false
  upgrade:
    cleanupOnFail: true
