apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: homarr
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 1m
  timeout: 10m

  sourceRef:
    kind: GitRepository
    name: flux-system

  path: ./gitops/clusters/homelab/apps/homarr
  prune: true
  wait: true

  decryption:
    provider: sops
    secretRef:
      name: sops-age

  dependsOn:
    - name: traefik
    - name: cert-issuers
