apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: coredns
data:
  Corefile: |
      local.nasbenito.com:53 {
          errors
          log
          file /etc/coredns/local.nasbenito.com.db
          cache 30
      }

      nasbenito.com:53 {
          errors
          log
          file /etc/coredns/nasbenito.com.db
          cache 30
      }

      .:53 {
          errors
          health
          ready
          log
          forward . https://cloudflare-dns.com/dns-query https://dns.google/dns-query
          cache 30
          reload
      }

  local.nasbenito.com.db: |
    $ORIGIN local.nasbenito.com.
    $TTL 60

    @   IN SOA ns.local.nasbenito.com. hostmaster.local.nasbenito.com. (
            2026010701 ; serial
            3600       ; refresh
            600        ; retry
            86400      ; expire
            60         ; minimum
    )

    @           IN NS ns.local.nasbenito.com.

    ; El propio DNS (opcional)
    ns         IN A 192.168.110.243

    ; Traefik (MetalLB LAN)
    traefik     IN A 192.168.110.242
    whoami      IN A 192.168.110.242
    kube        IN A 192.168.110.242
    pve1        IN A 192.168.110.242
    pve2        IN A 192.168.110.242
    pve3        IN A 192.168.110.242
    kvm         IN A 192.168.110.242
    omada       IN A 192.168.110.242

    ; Wildcard para servicios internos
    *          IN A 192.168.110.242

  nasbenito.com.db: |
    $ORIGIN nasbenito.com.
    $TTL 60

    @       IN SOA ns.nasbenito.com. hostmaster.nasbenito.com. (
            2026010701 ; serial
            3600       ; refresh
            600        ; retry
            86400      ; expire
            60         ; minimum
    )

    @      IN NS ns.nasbenito.com.

    ; El propio DNS (opcional)
    ns     IN A 192.168.110.243

    ; Traefik (MetalLB LAN)
    @      IN A 192.168.110.242
    www    IN A 192.168.110.242
    whoami IN A 192.168.110.242
    auth   IN A 192.168.110.242


    ; Wildcard para servicios internos
    *      IN A 192.168.110.242