apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: coredns
data:
  Corefile: |
    .:53 {
        errors
        health
        ready

        # ZONA LAN: local.nasbenito.com
        file /etc/coredns/zones/local.nasbenito.com.db local.nasbenito.com

        # Resolver el resto hacia fuera
        forward . 1.1.1.1 8.8.8.8

        cache 30
        reload
        log
    }

  local.nasbenito.com.db: |
    $TTL 60
    @ IN SOA ns.local.nasbenito.com. admin.local.nasbenito.com. (
            2026010701
            7200
            3600
            1209600
            60
    )
        IN NS ns.local.nasbenito.com.

    # El propio DNS (opcional)
    ns          IN A 192.168.110.243

    # Traefik (LB LAN)
    traefik     IN A 192.168.110.242

    # Wildcard para servicios internos
    *           IN A 192.168.110.242

