apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: coredns
data:
  Corefile: |
    # ZONA LAN autoritativa (split-horizon)
    local.nasbenito.com:53 {
        errors
        log
        file /etc/coredns/local.nasbenito.com.db
        cache 30
    }

    # Resto de dominios (recursivo hacia fuera)
    .:53 {
        errors
        health
        ready
        log

        forward . 1.1.1.1 8.8.8.8 {
          max_concurrent 1000
        }

        cache 30
        reload
        log
    }

  local.nasbenito.com.db: |
    $ORIGIN local.nasbenito.com.
    $TTL 60

    @   IN SOA ns.local.nasbenito.com. hostmaster.local.nasbenito.com. (
            2026010701 ; serial
            3600       ; refresh
            600        ; retry
            86400      ; expire
            60         ; minimum
    )

    @           IN NS ns.local.nasbenito.com.

    ; El propio DNS (opcional)
    ns          IN A 192.168.110.243

    ; Traefik (LB LAN)
    traefik     IN A 192.168.110.242
    whoami      IN A 192.168.110.242
    kube        IN A 192.168.110.242

    ; Wildcard para servicios internos
    *           IN A 192.168.110.242