apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: coredns
data:
  Corefile: |
    .:53 {
        errors
        health
        ready

        # ZONA LOCAL
        file /etc/coredns/zones/nasbenito.com nasbenito.com

        # Forward externo
        forward . 1.1.1.1 8.8.8.8

        cache 30
        reload
        log
    }

  nasbenito.com: |
    $TTL 60
    @   IN SOA ns.nasbenito.com. (
            2026010601
            7200
            3600
            1209600
            60
    )

        IN NS ns.nasbenito.com.

    ns          IN A 192.168.110.242
    whoami      IN A 192.168.110.242
    traefik     IN A 192.168.110.242