apiVersion: v1
kind: Service
metadata:
  name: coredns
  namespace: coredns
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.110.243
  ports:
    - name: dns-udp
      port: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      protocol: TCP
  selector:
    app: coredns